* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tudo {
    display: flex;
    flex-direction: row;
    

}

.tudo div {
    width: 12.5%;
    height: 100vh;
    background: rgb(152,231,227);
    background: linear-gradient(81deg, rgba(152,231,227,1) 0%, rgba(229,175,255,0.835171568627451) 51%, rgba(255,153,180,1) 100%);
    margin: 0 1px;
}

.bloco1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 80px;

}
.bloco1 span {
    width: 120px;
    height: 40px;
    background-color: rgb(255, 221, 252);
    padding: 5px 12px;
    font-weight: bold;
    margin: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
}